.price__course{
  padding: 50px 0;
  width: 100%;
  background: #f5f5f5;
  .header__title-wrap{
    text-align: center;
  }
  .header__title-text:after{
   margin: 0 auto;
   width: 64px;
   padding-top: 20px;
   }
}
.header__title-text_litle{
  margin-bottom: 30px;
}
  .price__list{
    display: inline-block;
    text-align: center;
  }
  .price__item{
    background: $color-white;
    &:nth-child(-n+3){
      background: #333;
      color: $color-white;
    }
    &:nth-child(n+4){
      background: $color-white;
      color: $color-gray ;
      border: 1px solid #f5f5f5;
      border-top: none;
      padding: 10px 0;
    }
    &:nth-child(1){
      text-transform: uppercase;
      padding: 22px 0;
      font-size: 20px;
    }
    &:nth-child(2){
      border-top: 1px solid $color-white;
      height: 150px;
      font-size: 94px;
      line-height: 60px;
      padding: 30px;
      .price__comment{
        color: $color-gray;
        font-size: 14px;
        line-height: 1;
        padding-top: 20px;
      }
    }
    &:nth-child(3){
      background: #ff9933;
      min-height: 5px;
    }
  }

.price__item-full {
  padding: 10px 0;
}
.hidden{
  opacity:0;
}
.visible{
  opacity:1;
}